<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gestió d'Espais Públics - Ajuntament de Vallgorguina">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">

    <title>Gestió - ESPAIS - {% block title %}{% endblock %}</title>

    <!--- Estilos de bootstrap y de app -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap" rel="stylesheet"> -->

    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">

    {% block head %}

    {% endblock %}
</head>

<body>
    {% block header %}
    <!-- - Cabecera principal de la página -->
    <header class="p-2 text-bg-dark">
        <div class="container">
            <!-- - Barra superior con logo y accesos -->
            <div class="d-flex align-items-center justify-content-between">

                <!-- - Logo con enlace al inicio -->
                <a href="{{ url_for('home.index') }}"
                    class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img src="{{ url_for('static', filename = 'img/Vall.png') }}" alt="blog posts" width="200">
                </a>

                <!-- - Botones de acceso y menú usuario -->
                <div class="text-end">
                    {% if not g.user %}
                    <a href="{{ url_for('auth.login') }}" class="btn btn-outline-light me-2">Inicia sesió</a>
                    <!-- <a href="{{ url_for('auth.register') }}" class="btn btn-warning">Registrat</a> -->

                    {% else %}

                    <!-- - Menú desplegable de usuario -->
                    <a href="{{ url_for('home.index') }}" class="link-light text-decoration-none dropdown-toggle"
                        data-bs-toggle="dropdown">
                        {% if g.user.photo is none %}
                        <img src="{{ url_for('static', filename = 'img/avatar.png') }}" alt="mdo" width="32" height="32" class="rounded-circle">
                        {% else %}
                        <img src="{{ url_for('static', filename = g.user.photo) }}" alt="mdo" width="32" height="32" class="rounded-circle">
                        {% endif %}
                    </a>

                    <!-- - Opciones del menú desplegable -->
                    <ul class="dropdown-menu text-small">
                        <li>
                            <span class="dropdown-item fw-bold">¡ Hola, {{g.user.username}} !</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                    
                        <li><a class="dropdown-item d-flex align-items-center gap-2 py-2"
                                href="{{ url_for('post.create') }}">
                                <span class="d-inline-block bg-success rounded-circle p-1"></span>
                                Crea espai
                            </a>
                        </li>
                    

                        <li><a class="dropdown-item d-flex align-items-center gap-2 py-2"
                                href="{{ url_for('post.posts') }}">
                                <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                                Espais
                            </a>
                        </li>

                        <li><a class="dropdown-item d-flex align-items-center gap-2 py-2"
                                href="{{ url_for('auth.profile', id = g.user.id) }}">
                                <span class="d-inline-block bg-info rounded-circle p-1"></span>
                                Perfil
                            </a>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li><a class="dropdown-item d-flex align-items-center gap-2 py-2"
                                href="{{ url_for('auth.logout') }}">
                                <span class="d-inline-block bg-danger rounded-circle p-1"></span>
                                Tanca sesió...
                            </a>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    {% endblock %}

    <!-- - Alertas flash del sistema -->
    {% for message in get_flashed_messages() %}
    <div class="w-100 text-center mt-3">
        <div class="alert {% block message %} alert-danger {% endblock %} d-inline-block px-1 py-1 mb-0" role="alert">
            {{ message }}
        </div>
    </div>
    {% endfor %}

    <!-- - Bloque de contenido principal -->
    {% block content %}
    {% endblock %}

    <!-- - Script principal de Bootstrap -->
    <script src="{{ url_for('static', filename = 'js/bootstrap.bundle.min.js') }}"></script>
    {{ckeditor.load()}}
    
</body>

</html>